@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dr. Babashebah Ambedkar Technological University,Lonere</h1>
    
</div>
<style>

    h1{

        border-width: 2px;
        color:skyblue;

        border-color: blue;

    }

</style>
